body {
    background: #f39ffc;
}
#https://github.com/belly08072007/belly08072007.github.io/blob/main/download%20(1).jpeg?raw=true{
    
}
h1{
    text-align: center;
}
p {
    text-align:center
}
#Salão { 
    font-size: 20px
}
em strong {
    color: red;
}